@import 'navbar.css';
@import 'buttons.css';
@import 'hero.css';
@import 'card.css';
@import 'landingpage.css';
@import 'footer.css';
@import 'datespage.css';
@import 'date.css';
@import 'addDate.css';
@import 'favoritedatespage.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Work+Sans&display=swap');


* {
    box-sizing: border-box;
}
body {
    background-color: #EAE7DC;
    padding: 0;
    margin: 0;
}

/*for desktop*/
@media only screen and (min-width: 768px) {
    .main__container {
        font-size: 1.2em;
        line-height: 1.8;
    }
}


    