.btn {
    font-weight: bold;
    font-size: inherit;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #EAE7DC;
    border: .5px solid #8E8D8A;
    font-family: 'Rubik', sans-serif;    
}

