
.nav-bar__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #aaa;    
}

.nav-bar__header {
    padding: 5px;
}

.nav-bar__title {
    text-decoration: none;
}

.nav-bar__btn {
    text-decoration: none;
}

.nav-bar-links__container {
    padding: 5px;
}